@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

.theme-selector {
  @include setScreen( flex, row ) ;
  font-family: $css-font-family ;
  font-size: $css-text-font-size-100 ;
  column-gap: $css-padding-25;

  &> b {
    background-color: $css-text-color ;
    color: $css-background-color ;
    padding: $css-padding-25;
    border-radius: $css-border-radius ;
    &:hover {
      cursor: pointer;
      &:hover { @include fillSelectedPrimary() }
    }
  }
}