@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

.theme-selector {
  @include setScreen( flex, row ) ;
  font-family: $css-font-family-regular ;
  column-gap: $css-padding-25;
  white-space: nowrap ;

  .label, .value {
    font-size: $css-text-font-size-75 ;
    text-transform: uppercase ;
  }

  &> .label {
    color: $css-border-color;
    &:after {
      display: contents ;
      content: ":";
      color: $css-border-color;
    }
  }
  & .value {
    cursor: pointer;
    border-radius: $css-border-radius ;
    color: $css-primary-background-color ;
    &:hover { color: $css-secondary-background-color }
  }
}