@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

.application {
  @include setScreen( flex, column, flex-start, flex-start ) ;
  color: $css-text-color;
  min-height: 100vh;
  height: auto;

  .sheet {
    &> .head {
      @include setScreen( flex, row, flex-start, flex-start ) ;
      width: 100% ;
      height: 100% ;
      &> .left {
        @include setScreen( flex, column, flex-start, flex-start ) ;
        height: 100% ;
        background-color: $css-color-black ;
        border-right: 1px solid $css-css-border-color;
        &> .about {
          @include setScreen( flex, column, flex-start, flex-start ) ;
          width: 100% ;
          overflow-y: hidden;
          h3, p { color: $css-color-white }
        }
      }
      &> .context {
        @include setScreen( flex, column, flex-start, flex-start ) ;
        width: 100%;
      }
      &> *:first-child { width: 60% }
    }
  }

  &> .colors {
    @include setScreen( flex, row ) ;
    column-gap: $css-padding-25;

    &>div {
      padding: $css-padding-25;
      border-radius: $css-border-radius;
      &:nth-child(1) {
        background-color: $css-primary-background-color;
        color: $css-primary-text-color;
      }
      &:nth-child(2) {
        background-color: $css-secondary-background-color;
        color: $css-secondary-text-color;
      }
    }
  }
}

@media( orientation: portrait ) {
  .application {
    padding: 0 ;
    row-gap: 0 ;
    .sheet:first-child {
      &:first-child { margin: 0 }
      &> .head {
        &> .left > .about { padding: $css-padding-100 }
        &> .context { padding: $css-padding-100 }
      }
    }
  }
}
@media( orientation: landscape ) {
  .application {
    row-gap: $css-padding-25;
    padding: 0 $css-css-aside 5% $css-css-aside ;
    .sheet:first-child {
      &:first-child { margin: calc( $css-css-aside / 2 ) 0 }
      &> .head {
        &> .left > .about { padding: $css-padding-100 calc( $css-padding-100 * 2 ) }
        &> .context { padding: $css-padding-100 calc( $css-padding-100 * 4 ) }
      }
    }
  }
}