@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

@media( orientation: landscape ) {
  .application {
    padding: 5% $css-aside 5% $css-aside;
    row-gap: $css-padding-25;
    &> * { margin-bottom: $css-aside }
  }
}

@media( orientation: portrait ) {
  .application {
    padding: 0 ;
    row-gap: 0 ;
    &> * { margin-bottom: unset }
  }
}