@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;
@use './style.adapt.scss' ;

.application {
  @include setScreen( flex, column, flex-start, flex-start ) ;
  color: $css-text-color;
  min-height: 100vh;
  height: auto;
}