@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;
@use './style.adapt.scss' ;

.hero {
  @include setScreen( flex, row, flex-start, flex-start ) ;

  width: 100% ;
  height: 100% ;

  &> .left, &> .context {
    &> .wrapper {
      width: 100% ;
      flex-direction: column ;
    }
  }

  $left-padding: calc( $css-padding-100 * 20 ) ;

  &> .left {
    @include setScreen( flex, column, flex-start, flex-start ) ;
    width: $left-padding ;
    height: 100%;
    border-right: 1px solid $css-border-color-alpha ;
    background-color: $css-color-black ;
    color: $css-color-white ;
  }
  &> .context {
    @include setScreen() ;
    width: calc( 100% - $left-padding ) ;
  }
}

