@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;
@use './style.adapt.scss' ;

.hero {
  @include setScreen( flex, row, flex-start, flex-start ) ;

  width: 100% ;
  height: 100% ;

  &> .left, &> .context {
    &> .wrapper {
      width: 100% ;
      flex-direction: column ;
    }
  }

  &> .left {
    width: 50% ;
    background-color: $css-color-black ;
    color: $css-color-white ;
  }
  &> .context { width: 100% }
}

