@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

@media( orientation: landscape ) {
  .hero {
    &> .left .wrapper { padding: calc( $css-padding-100 * 2 ) }
    &> .context .wrapper { padding: $css-padding-100 calc( $css-padding-100 * 2 ) }
  }
}

@media( orientation: portrait ) {
  .hero {
    flex-direction: column !important;
    &> .left {
      // flex-direction: row !important;
      flex: unset !important ;
      width: 100% ;
      height: auto !important ;
    }
    &> .left .wrapper { padding: $css-padding-100 }
    &> .context .wrapper { padding: $css-padding-100 }
  }
}
