@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;
@use './style.adapt.scss' ;

.hero {
  @include setScreen( flex, row, flex-start, flex-start ) ;

  width: 100% ;
  height: 100% ;

  &> .left, &> .context {
    &> .wrapper {
      width: 100% ;
      flex-direction: column ;
    }
  }

  &> .left {
    @include setScreen( flex, column, flex-start, flex-start ) ;
    flex: 0 0 45%;
    height: 100%;
    background-color: $css-color-black ;
    color: $css-color-white ;
  }
  &> .context {
    @include setScreen() ;
    overflow: hidden;
    flex: 1;
  }
}

