@font-face {
  font-family: FontRegular;
  src: url(../fonts/NotoSans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: FontBold;
  src: url(../fonts/NotoSans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: FontItalic;
  src: url(../fonts/NotoSans/NotoSans-Italic.ttf);
}

@font-face {
  font-family: FontBoldItalic;
  src: url(../fonts/NotoSans/NotoSans-BoldItalic.ttf);
}