:root {
    --css-text-font-size-min: 14px ;
    --css-text-font-size-max: 24px ;
    --css-text-font-size-value: clamp( var(--css-text-font-size-min), 1.1vw, var(--css-text-font-size-max) );

    /* PADDINGS */
    --css-padding-100: var(--css-text-font-size-value) ;
    --css-padding-75: calc(var(--css-padding-100) * .75 );
    --css-padding-50: calc(var(--css-padding-100) * .50 );
    --css-padding-25: calc(var(--css-padding-100) * .25 );
    --css-aside: 15% ;

    /* COLORS */
    --css-color-black: black ;
    --css-color-white: white ;
    --css-color-red: crimson ;
    --css-color-green: #078b07;
    --css-color-yellow: orange ;
    --css-color-blue: #00b3c0 ;

    /* COLOR SCHEME */
      color-scheme: light dark ;
    --css-background-color: var(--css-color-white);
    --css-text-color: var(--css-color-black);

    /* FONTS */
    --css-font-family-regular: FontRegular, Arial ;
    --css-font-family-bold: FontBold, Arial ;
    --css-text-font-size-100: var(--css-text-font-size-value);
    --css-text-font-size-75: calc(var(--css-text-font-size-100) * .75 );
    --css-text-font-size-50: calc(var(--css-text-font-size-100) * .50 );
    --css-text-font-size-25: calc(var(--css-text-font-size-100) * .25 );
    --css-text-line-height: calc( var( --css-text-font-size-100 ) + 6 ) ;

    /* BORDERS */
    --css-border-radius: 3px;
    --css-border-color: color-mix( in srgb, var( --css-background-color ) 35%, var( --css-text-color ) );
    --css-border-color-alpha: color-mix( in srgb, var( --css-border-color ) 15%, transparent );

    &[data-theme="light"] {
          color-scheme: light;

        --css-background-color: var(--css-color-white);
        --css-text-color: var(--css-color-black);

        --css-primary-background-color: var(--css-color-blue) ;
        --css-primary-text-color: var(--css-color-white) ;
        --css-secondary-background-color: var(--css-color-yellow)  ;
        --css-secondary-text-color: var(--css-color-black) ;
    }
    &[data-theme="dark"] {
          color-scheme: dark;

        --css-background-color: var(--css-color-black);
        --css-text-color: var(--css-color-white);

        --css-primary-background-color: var(--css-color-green) ;
        --css-primary-text-color: var(--css-color-white) ;
        --css-secondary-background-color: var(--css-color-red) ;
        --css-secondary-text-color: var(--css-color-white) ;
    }
}
#root {
    display: flex ;
    flex-direction: column ;
    width: 100% ;
    margin: 0 auto ;
    padding: 0 ;
}