:root {
    /* PADDINGS */
    --css-padding-100: 1em ;
    --css-padding-75: calc(var(--css-padding-100) * .75 );
    --css-padding-50: calc(var(--css-padding-100) * .50 );
    --css-padding-25: calc(var(--css-padding-100) * .25 );

    /* COLORS */
    --css-color-black: black ;
    --css-color-white: white ;
    --css-color-red: crimson ;
    --css-color-green: limegreen ;
    --css-color-yellow: orange ;
    --css-color-blue: dodgerblue ;

    /* COLOR SCHEME */
      color-scheme: light dark ;
    --css-background-color: var(--css-color-white);
    --css-text-color: var(--css-color-black);

    /* FONTS */
    --css-font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    --css-text-font-size-100: 18px ;
    --css-text-font-size-75: calc(var(--css-text-font-size-100) * .75 );
    --css-text-font-size-50: calc(var(--css-text-font-size-100) * .50 );
    --css-text-font-size-25: calc(var(--css-text-font-size-100) * .25 );
    --css-text-line-height: calc( var( --css-text-font-size-100 ) + 6 ) ;

    /* BORDERS */
    --css-border-radius: 2px;
}
#root {
    width: 100% ;
    margin: 0 auto ;
    padding: 0 ;
    text-align: center;
}

:root {
    &[data-theme="light"] {
        color-scheme: light;

        --css-background-color: var(--css-color-white);
        --css-text-color: var(--css-color-black);

        --css-primary-background-color: var(--css-color-blue)  ;
        --css-primary-text-color: var(--css-color-white) ;

        --css-secondary-background-color: var(--css-color-yellow) ;
        --css-secondary-text-color: var(--css-color-black) ;

    }
    &[data-theme="dark"] {
        color-scheme: dark;

        --css-background-color: var(--css-color-black);
        --css-text-color: var(--css-color-white);

        --css-primary-background-color: var(--css-color-red) ;
        --css-primary-text-color: var(--css-color-white) ;

        --css-secondary-background-color: var(--css-color-green) ;
        --css-secondary-text-color: var(--css-color-white) ;
    }
}