/* PADDINGS */
$css-padding-100: var( --css-padding-100 );
$css-padding-75: var( --css-padding-75 );
$css-padding-50: var( --css-padding-50 );
$css-padding-25: var( --css-padding-25 );

/* COLORS */
$css-color-black: var(--css-color-black);
$css-color-white: var(--css-color-white);
$css-color-red: var(--css-color-red);
$css-color-blue: var(--css-color-blue);
$css-color-green: var(--css-color-green);
$css-color-yellow: var(--css-color-yellow);

/* COLOR SCHEME */
$color-scheme: var(--color-scheme);
$css-background-color: var(--css-background-color);
$css-text-color: var(--css-text-color);
$css-primary-background-color: var(--css-primary-background-color);
$css-primary-text-color: var(--css-primary-text-color);
$css-secondary-background-color: var(--css-secondary-background-color);
$css-secondary-text-color: var(--css-secondary-text-color);

/* FONTS */
$css-font-family: var(--css-font-family);
$css-text-font-size-100: var(--css-text-font-size-100);
$css-text-font-size-75: var(--css-text-font-size-75);
$css-text-font-size-50: var(--css-text-font-size-50);
$css-text-font-size-25: var(--css-text-font-size-25);
$css-text-line-height: var(--css-text-line-height);

/* borders */
$css-border-radius: var(--css-border-radius);