@use './variables' as * ;
@use './mixins' as * ;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0 ;
  padding: 0 ;
  height: 100%
}

body {
  @include setScreen() ;
  background-color: $css-background-color ;
  color: $css-text-color ;
  font-family: $css-font-family ;
  font-size: $css-text-font-size-100;

  transition:
          background-color 500ms ease,
          color 500ms ease;
}