@use './variables' as * ;
@use './mixins' as * ;

* { box-sizing: border-box }

html, body {
  margin: 0 ;
  padding: 0 ;
  height: 100%
}

body {
  @include setScreen( flex, column, flex-start, flex-start ) ;
  background-color: $css-background-color ;
  color: $css-text-color ;
  font-family: $css-font-family ;
  font-size: $css-text-font-size-100;
  line-height: $css-text-line-height;
  transition: background-color 500ms ease, color 500ms ease ;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase ;
}
