@use './variables' as * ;

@mixin inspect( $color: crimson ) {
  border: 1px solid $color ! important ;
  background-color: rgba( $color, .5 ) ! important ;
}
@mixin setScreen( $display: flex, $direction: column, $justify: center, $align: center ) {
  display: $display ;
  flex-direction: $direction ;
  justify-content : $justify ;
  align-items : $align ;
}
@mixin fill( $background, $color ) {
  background-color: $background ;
  color: $color ;
  $mixColor: color-mix( in srgb, $background 50%, black );
  box-shadow: 0 2px 1px $mixColor;
}
@mixin fillSelectedPrimary() {
  @include fill( $css-primary-background-color, $css-primary-text-color ) ;
}
@mixin fillSelectedSecondary() {
  @include fill( $css-secondary-background-color, $css-secondary-text-color ) ;
}