@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;
@use './style.adapt.scss' ;

.toolbar {
  @include setScreen( flex, row, space-between ) ;
  width: 100% ;
  background-color: $css-color-black ;
  color: $css-color-white ;

  &> .left, &> .right { column-gap: $css-padding-100 }
  &> .left { @include setScreen( flex, row, flex-start, center ) }
  &> .right { @include setScreen( flex, row, flex-end, center ) }
}