@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

.lang-selector {
  @include setScreen( flex, row, flex-start, center ) ;
  column-gap: $css-padding-25 ;

  .label, .value {
    font-size: $css-text-font-size-75 ;
    text-transform: uppercase ;
  }

  &> .label {
    color: $css-border-color;
    &:after {
      content: ": ";
      color: $css-border-color;
    }
  }
  &> .value {
    display: inline-flex;
    cursor: pointer ;
    color: $css-color-white ;

    &[data-selected="true"]:not(:hover) {
      color: $css-primary-background-color ;
    }
    &:hover {
      color: $css-secondary-background-color ;
    }
    &:not(:last-child):after {
      display: contents ;
      content: " | ";
      padding: 0 1px ;
      color: $css-border-color;
    }
  }
}