@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;
@use './style.adapt.scss' ;

.sheet {
  @include setScreen( flex, column, flex-start ) ;
  background-color: $css-background-color ;
  $mixColor: color-mix( in srgb, $css-text-color 50%, $css-background-color );
  box-shadow: 0 20px 60px $mixColor ;
  overflow: hidden ;
  border-radius: $css-border-radius ;
  min-height: 100vh ;
  height: auto ;
}