@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

@media( orientation: landscape ) {
  .sheet { width: 75% }
}

@media( orientation: portrait ) {
  .sheet {
    width: 100% ;
    padding-bottom: $css-padding-100 ;
  }
}